.register-slider {
	form {
		fieldset {
			border: none;
			.heading {
				text-align: center;
				position: relative;
				z-index: 11;
				h3 {
					text-transform: uppercase;
					color: #ffffff;
				}
				h4 {
					text-transform: uppercase;
					color: #ffffff;
				}
			}
		}
	}
}