extends layouts/layout

block vars
	-title = 'Homepage'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	main
		.register-slider
			.dots
			.button-group
				button(type='button', name='close').btn-close 
				button(type='button', name='up').btn-up
				button(type='button', name='down').btn-down
			form(action='' method='').register-form(data-validate)
				.slider-wrapper
					.slider-item.step-1.slider-active
						.heading
							+link-img('images/logo.png', 'AOSTE').logo
							h2 Bienvenue dans
								span Le club Aoste
						fieldset
							.title
								h3
									span 1.
									|	Une question de formalité
							.element
								label(for='email').label Votre e-mail*
								input(type='text', name='email', placeholder='Votre e-mail*').email(data-required, data-email, data-message-required='Email is required', data-email-invalid='Invalid email address')
								span.error-message.error-email
							.group-element
								.element
									label(for='password').label Votre mot de passe*
									input(type='password', name='password', placeholder='Votre mot de passe*').password(data-required, data-min-length='4', data-max-length='16', data-message-required='Please enter password', data-password)
									span.error-message.error-password Password
								.element
									label(for='confirm-password').label.hidden Confirmez le mot de passe*
									input(type='password', name='confirm-password', placeholder='Confirmez le mot de passe*').confirm-password(data-required, data-min-length='4', data-max-length='6', data-message-required='Please enter confirm password', data-confirm-password)
									span.error-message.error-confirm-password Confirm password
					.slider-item.step-2
						fieldset
							.title
								h3
									span 2.
									|	Mieux vous connaître
								p Nous sommes susceptibles de vous envoyer de nombreux cadeaux… Mieux vaut que vous nous laissiez vos coordonnées !
							.element
								p Civillité*
								.group-radio
									.radio-item
										input(type='radio', id='mr', name='gender', value='mr', checked)
										label(for='mr') mr
									.radio-item
										input(type='radio', id='mlle', name='gender', value='mlle')
										label(for='mlle') mlle
									.radio-item
										input(type='radio', id='mme', name='gender', value='mme')
										label(for='mme') mme
							.group-element
								.element
									label(for='name').label.hidden Nom*
									input(type='text', name='name', placeholder='Nom*', maxlength='100').name(data-required, data-message-required='Please enter your name')
									span.error-message.error-name Name
								.element
									label(for='first-name').label.hidden Prénom*
									input(type='text', name='first-name', placeholder='Prénom*', maxlength='100').first-name(data-required, data-message-required='Please enter your first name')
									span.error-message.error-name First name
					.slider-item.step-3
						fieldset
							.title
								p Forcément, nous tenons à vous souhaiter votre anniversaire.
							.element
								p Date de naissance*
								.group-selection
									.selection.select-day
										.selection-wrapper
											.selection-item
												span.selection-label.selection-day JJ
												select.select-list
													option(value='') JJ
													option(value='1') 01
													option(value='2') 02
													option(value='3') 03
													option(value='4') 04
													option(value='5') 05
													option(value='6') 06
													option(value='7') 07
													option(value='8') 08
													option(value='9') 09
													option(value='10') 10
												ul.combobox-list.day-list
													li.list-item.day-item(data-value='') JJ
													li.list-item.day-item(data-value='01') 01
													li.list-item.day-item(data-value='02') 02
													li.list-item.day-item(data-value='03') 03
													li.list-item.day-item(data-value='04') 04
													li.list-item.day-item(data-value='05') 05
													li.list-item.day-item(data-value='06') 06
													li.list-item.day-item(data-value='07') 07
													li.list-item.day-item(data-value='08') 08
													li.list-item.day-item(data-value='09') 09
													li.list-item.day-item(data-value='10') 10
									.selection.select-month
										.selection-wrapper
											.selection-item
												span.selection-label.selection-month MM
												select.select-list
													option(value='') MM
													option(value='1') 01
													option(value='2') 02
													option(value='3') 03
													option(value='4') 04
													option(value='5') 05
													option(value='6') 06
													option(value='7') 07
													option(value='8') 08
													option(value='9') 09
													option(value='10') 10
												ul.combobox-list.month-list
													li.list-item.month-item(data-value='') MM
													li.list-item.month-item(data-value='01') 01
													li.list-item.month-item(data-value='02') 02
													li.list-item.month-item(data-value='03') 03
													li.list-item.month-item(data-value='04') 04
													li.list-item.month-item(data-value='05') 05
													li.list-item.month-item(data-value='06') 06
													li.list-item.month-item(data-value='07') 07
													li.list-item.month-item(data-value='08') 08
													li.list-item.month-item(data-value='09') 09
													li.list-item.month-item(data-value='10') 10
									.selection.select-year
										.selection-wrapper
											.selection-item
												span.selection-label.selection-year AAAA
												select.select-list
													option(value='') AAAA
													option(value='1') 01
													option(value='2') 02
													option(value='3') 03
													option(value='4') 04
													option(value='5') 05
													option(value='6') 06
													option(value='7') 07
													option(value='8') 08
													option(value='9') 09
													option(value='10') 10
												ul.combobox-list.year-list
													li.list-item.year-item(data-value='') AAAA
													li.list-item.year-item(data-value='01') 2001
													li.list-item.year-item(data-value='02') 2002
													li.list-item.year-item(data-value='03') 2003
													li.list-item.year-item(data-value='04') 2004
													li.list-item.year-item(data-value='05') 2005
													li.list-item.year-item(data-value='06') 2006
													li.list-item.year-item(data-value='07') 2007
													li.list-item.year-item(data-value='08') 2008
													li.list-item.year-item(data-value='09') 2009
													li.list-item.year-item(data-value='10') 2010
								span.error-message.error-birthday Lorem Ipsum is simply dummy text
					.slider-item.step-4
						fieldset
							.title
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.element
								label(for='address').label.hidden Adresse*
								input(type='text', name='address', placeholder='Adresse*', maxlength='200').address(data-required, , data-message-required='Please enter your address')
								span.error-message.error-address Address
							.group-element
								.element
									label(for='postcode').label.hidden Code postal*
									input(type='text', name='postcode', placeholder='Code postal*', maxlength='6').postcode(data-required, data-number, data-max-length='6')
									span.error-message.error-postcode Postcode
								.element
									label(for='city').label.hidden Ville*
									input(type='text', name='city', placeholder='Ville*', maxlength='100').city(data-required, data-message-required='Please enter city name')
									span.error-message.error-city City
					.slider-item.step-5
						fieldset
							.title
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.element
								label(for='telephone').label.hidden Téléphone mobile
								input(type='text', name='telephone', placeholder='Téléphone mobile', maxlength='20').telephone(data-number)
					.slider-item.step-6
						fieldset
							.title
								.checkbox-item
									input(type='checkbox', id='comfirm-checkbox',  name='comfirm-checkbox', value='comfirm-checkbox' required).comfirm-checkbox
									label(for='comfirm-checkbox').confirm-label Je déclare avoir pris connaissance et accepté le règlement du Club Aoste*
							.element
								span.btn-submit devenir membre
		.top-bg-gradient
		.bottom-bg-gradient