extends layouts/layout

block vars
	-title = 'Homepage'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	main
		.bg-cover
		.register-slider
			.dots
			.button-group
				button(type='button', name='close').btn-close 
				button(type='button', name='up').btn-up
				button(type='button', name='down').btn-down
			form(action='' method='').register-form
				.slider-wrapper
					.slider-item.step-1.slider-active
						.heading
							+link-img('images/logo.png', 'AOSTE').logo
							h2 Bienvenue dans
								span Le club Aoste
						fieldset
							.title
								h3
									span 1.
									|	Une question de formalité
							.element
								label(for='email').label Votre e-mail*
								input(type='text', name='email', placeholder='Votre e-mail*').email
								span.error-message.error-email Email
							.group-element
								.element
									label(for='password').label Votre mot de passe*
									input(type='password', name='password', placeholder='Votre mot de passe*').password
									span.error-message.error-password Password
								.element
									label(for='confirm-password').label.hidden Votre mot de passe*
									input(type='password', name='confirm-password', placeholder='Votre mot de passe*').confirm-password
									span.error-message.error-confirm-password Confirm password
								span.error-message.error-compare-password Compare password
					.slider-item.step-2
						fieldset
							.title
								h3
									span 2.
									|	Mieux vous connaître
								p Nous sommes susceptibles de vous envoyer de nombreux cadeaux… Mieux vaut que vous nous laissiez vos coordonnées !
							.element
								p Civillité*
								.group-radio
									.radio-item
										input(type='radio', id='mr', name='gender', value='mr', checked)
										label(for='mr') mr
									.radio-item
										input(type='radio', id='mlle', name='gender', value='mlle')
										label(for='mlle') mlle
									.radio-item
										input(type='radio', id='mme', name='gender', value='mme')
										label(for='mme') mme
							.group-element
								.element
									label(for='name').label Nom*
									input(type='text', name='name', placeholder='Nom*', maxlength='100').name
									span.error-message.error-name Name
								.element
									label(for='first-name').label.hidden Prénom*
									input(type='text', name='first-name', placeholder='Prénom*', maxlength='100').first-name
									span.error-message.error-name First name
					.slider-item.step-3
						fieldset
							.title
								p Forcément, nous tenons à vous souhaiter votre anniversaire.
							.element
								p Date de naissance*
								.group-selection
									.selection.select-day
										+select('JJ',1,2,3,4,5,6,7,8,9,10,11,12)
									.selection.select-month
										+select('MM',1,2,3,4,5,6,7,8,9,10)
									.selection.select-year
										+select('AAAA',1,2,3,4,5,6,7,8,9,10)
								span.error-message.error-birthday Lorem Ipsum is simply dummy text
					.slider-item.step-4
						fieldset
							.title
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.element
								label(for='address').label Adresse*
								input(type='text', name='address', placeholder='Adresse*', maxlength='200').address
								span.error-message.error-address Address
							.group-element
								.element
									label(for='postcode').label Code postal*
									input(type='text', name='postcode', placeholder='Code postal*', maxlength='6').postcode
									span.error-message.error-postcode Postcode
								.element
									label(for='city').label.hidden Ville*
									input(type='text', name='city', placeholder='Ville*', maxlength='100').city
									span.error-message.error-city City
					.slider-item.step-5
						fieldset
							.title
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							.element
								label(for='telephone').label Téléphone mobile
								input(type='text', name='telephone', placeholder='Téléphone mobile', maxlength='20').telephone
					.slider-item.step-6
						fieldset
							.title
								.checkbox-item
									input(type='checkbox', id='comfirm-checkbox',  name='comfirm-checkbox', value='comfirm-checkbox' required).comfirm-checkbox
									label(for='comfirm-checkbox').confirm-label Je déclare avoir pris connaissance et accepté le règlement du Club Aoste*
							.element
								input(type='submit', value='devenir membre').btn-submit
		.top-bg-gradient
		.bottom-bg-gradient