extends layouts/layout

block vars
	-title = 'Index'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	main
		.register-slider
			form
				fieldset
					.heading
						+link-img('images/logo.png', 'AOSTE').logo
						h3 Bienvenue dans
						h4 Le club Aoste
					.content 
		.top-bg-gradient
		.bottom-bg-gradient